<!-- navbar -->
<nav class="flex items-center h-16 bg-slate-200 w-full z-10 text-black border border-slate-400 
    shadow-md shadow-slate-500 dark:bg-slate-600 dark:text-white rounded-lg">
    <div class="flex justify-between items-center w-full px-12 py-3">
        <div class="bg-slate-300 hover:bg-slate-400 dark:bg-slate-500 rounded-full ml-2">
            <svg width="60" height="60" data-jdenticon-value="{{ request.user.username }}"></svg>
        </div>

        <div class="flex items-center">
            <div class="relative" id="dropdown-box">
                <button id="btn-dropdown" class="flex items-center justify-center w-auto bg-slate-200 text-sm hover:bg-slate-300 border 
                border-slate-400 dark:bg-slate-500 rounded-lg drop-shadow-lg p-3 transition duration-300">
                    <span class="mr-2">MENU</span><i class="fa-solid fa-caret-down text-center"></i>
                </button>
                <div id="dropdown" class="hidden absolute items-center text-center bg-slate-200 min-w-full
                text-sm dark:bg-slate-600 rounded-lg drop-shadow-lg">
                    <ul class="text-base text-black dark:text-white">
                        <li>
                            <div class="block px-4 py-2 hover:bg-slate-300 dark:hover:bg-slate-500
                            rounded-lg transition duration-300 border border-slate-400">{{ request.user.username }}</div>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="block px-4 py-2 hover:bg-slate-300 dark:hover:bg-slate-500
                            rounded-lg transition duration-300 border border-slate-400">logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bg-slate-300 hover:bg-slate-400 dark:bg-slate-500 rounded-full ml-3">
                <svg width="60" height="60" data-jdenticon-value="{{ request.user.username }}"></svg>
            </div>
        </div>

    </div>
</nav>
