{% url 'home' as home_url %}
{% url 'books:main' as books_url %}
{% url 'rentals:main' as rentals_url %}

<!-- Sidebar -->
<aside class="hidden md:block bg-slate-700 h-screen w-full text-white pt-0 text-sm 
    border-r border-slate-300/30">
    <ul class="">
        <!-- dashboard -->
        <li>
            <a href="{{ home_url }}" class="flex flex-col place-items-center py-10
            border border-slate-500
            hover:bg-slate-600 rounded-sm transition duration-300" id="home-link">
                <i class="fa-solid fa-chart-pie fa-xl"></i>
                <p class="mt-4 text-wrap">Dashboard</p>
            </a>
        </li>
        <!-- books -->
        <li>
            <a href="{{ books_url }}" class="flex flex-col place-items-center py-10
            border border-slate-500
            hover:bg-slate-600 rounded-sm transition duration-300" id="books-link">
                <i class="fa-solid fa-book fa-xl"></i>
                <p class="mt-4 text-wrap">Books</p>
            </a>
        </li>
        <!-- rentals -->
         <li>
            <a href="{{ rentals_url }}" class="flex flex-col place-items-center py-10
            border border-slate-500
            hover:bg-slate-600 rounded-sm transition duration-300" id="rentals-link">
                <i class="fa-solid fa-bookmark fa-xl"></i>
                <p class="mt-4 text-wrap">Rentals</p>
            </a>
        </li>
    </ul>
</aside>

<!-- Highlight the current section in the sidebar -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentPath = window.location.pathname;
        const homeLink = document.getElementById('home-link');
        const booksLink = document.getElementById('books-link');
        const rentalsLink = document.getElementById('rentals-link');

        if (currentPath === '{{ home_url }}') {
            homeLink.classList.add('bg-slate-500/40');
        } else if (currentPath.startsWith('{{ books_url }}')) {
            booksLink.classList.add('bg-slate-500/40');
        } else if (currentPath === '{{ rentals_url }}') {
            rentalsLink.classList.add('bg-slate-500/40');
        }
    });
</script>
