<div class="bg-slate-700 text-white mb-5 h-16 flex justify-between items-center px-6 shadow-xl rounded-lg" id="head">
    <div class="flex-col inline-flex">
        <div class="text-2xl">{{ title|default_if_none:"" }}</div>
        <div class="text-md">{{ description|default_if_none:"" }}</div>
    </div>
    <div>
        <!-- buttons here -->
        {% if is_form_available %}
            <div>
            <button class="bg-transparent border-2 border-t-white text-white 
            hover:bg-slate-300 hover:text-slate-900 p-2 inline-flex rounded-lg text-xl" 
                id="open-modal-btn">{{ icon|default_if_none:"" }}
            </button>
            </div>
        {% endif %}
        {% if is_go_back %}
            <div class="{% if is_form_available %} ml-3 {% endif %}" >
                {% if previus_page %}
                    <a href="{{ previus_page }}" class="bg-transparent border-2 border-t-white text-white 
                    hover:bg-slate-200 hover:text-slate-900 p-2 inline-flex rounded-lg text-xl" >
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                {% else %}
                    <button class="bg-transparent border-2 border-t-white text-white 
                    hover:bg-slate-200 hover:text-slate-900 p-2 inline-flex rounded-lg text-xl" 
                    id="go-back-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

