{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block scripts %}
    <script src="{% static 'rentals/active_form.js' %}" defer></script>
{% endblock %}

{% block title %}
    Rentals
{% endblock %}

{% block content %}
    <div class="flex justify-center items-center h-[500px]">
        <form id="search_form" method="POST" autocomplete="off" class="w-1/3">
            {% csrf_token %}
            <label for="{{ form.search.id_for_label }}" class="block text-2xl text-gray-700 dark:text-white font-semibold mb-2">Search for book</label>
            {{ form.search|add_class:'bg-slate-100 text-black rounded-lg p-2 shadow-lg shadow-slate-500 w-full' }}
        </form>
    </div>
{% endblock %}
